---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Welcome from "../components/Welcome.astro";
import Map from "../components/Map.astro";
import Video from "../components/Video.astro";
import Pools from "../components/Pools.astro";
---

<Layout>
  <Hero />
  <About />
  <Video />
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-2">
    <Welcome />
    <Pools />
  </div>
  <Map />
</Layout>
