---
import { Image } from "astro:assets";
import about from "../assets/swimming-pool.jpg";
---

<section
  id="about"
  class="flex flex-col-reverse py-4 space-y-6 md:pb-16 md:flex-row-reverse md:items-center md:space-x-6 max-w-6xl mx-auto"
>
  <div class="items-center justify-center w-full h-96 hidden md:flex md:w-1/2">
    <Image
      class="object-cover w-full h-full max-w-2xl rounded-md"
      src={about}
      alt="about our company"
    />
  </div>
  <div
    class="flex flex-col items-center w-full md:flex-row md:w-1/2 px-6 lg:px-0"
  >
    <div class="max-w-lg md:mx-12 md:order-2">
      <h2 class="text-3xl font-medium tracking-wide text-gray-800 md:text-4xl">
        We build pools the right way
      </h2>
      <p class="mt-4 text-gray-600">
        Based in the heart of San Antonio, Texas, our team brings together years
        of expertise in crafting high-quality, custom fiberglass pools tailored
        to each client's unique vision and lifestyle. From initial design
        concepts to meticulous installation and beyond, we prioritize superior
        craftsmanship, attention to detail, and unwavering customer
        satisfaction. With Freedom Fiberglass Pools, you're not just getting a
        pool – you're gaining a sanctuary for leisure, recreation, and cherished
        moments with loved ones
      </p>
    </div>
  </div>
</section>
