---
import { Image } from "astro:assets";
import about from "../assets/swimming-pool.jpg";
---

<section
  id="about"
  class="flex flex-col-reverse py-4 space-y-6 md:pb-16 md:flex-row-reverse md:items-center md:space-x-6 max-w-6xl mx-auto"
>
  <div class="items-center justify-center w-full h-96 hidden md:flex md:w-1/2">
    <Image
      class="object-cover w-full h-full max-w-2xl rounded-md"
      src={about}
      alt="about our company"
    />
  </div>
  <div
    class="flex flex-col items-center w-full md:flex-row md:w-1/2 px-6 lg:px-0"
  >
    <div class="max-w-lg md:mx-12 md:order-2">
      <h2 class="text-3xl font-medium tracking-wide text-gray-800 md:text-4xl">
        Business has changed
      </h2>
      <p class="mt-4 text-gray-600">
        In today's dynamic landscape, the evolution of marketing demands a multifaceted approach that integrates cutting-edge technologies with traditional strategies. The emergence of AI and automation has revolutionized the field, enabling personalized and data-driven campaigns that resonate with target audiences on a deeper level. However, harnessing these tools effectively requires not only technical expertise but also a profound understanding of marketing principles. A successful marketer must possess a diverse skill set, blending AI proficiency with creativity, strategic thinking, and analytical acumen. Moreover, navigating the complexities of modern marketing necessitates an in-depth comprehension of consumer behavior, market trends, and emerging technologies. By synergizing AI, automation, marketing skills, and deep industry insight, businesses can unlock unprecedented opportunities for growth and engagement in the digital age.
      </p>
    </div>
  </div>
</section>
