---
import { Icon } from "astro-icon/components";
import logo from "../assets/logo.jpg";
import { Image } from "astro:assets";
---

<footer class="bg-sky-100">
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24"
  >
    <div class="absolute end-4 top-4 sm:end-6 sm:top-6 lg:end-8 lg:top-8">
      <a
        class="inline-block rounded-full bg-sky-950 p-2 text-white shadow transition hover:bg-sky-800 sm:p-3 lg:p-4"
        href="#nav"
      >
        <span class="sr-only">Back to top</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>

    <div class="lg:flex lg:items-end lg:justify-between">
      <div>
        <div class="flex justify-center lg:justify-start">
          <a
            class="text-xl align-middle font-bold leading-none flex items-center gap-2"
            href="/"
          >
            <div class="h-32 w-auto">
              <Image
                src={logo}
                alt="logo"
                class="h-full w-full object-contain"
              />
              <p class="sr-only">Orange Marketing Group</p>
            </div>
          </a>
        </div>
        <p
          class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-950 lg:text-left"
        >
          Marketing is a skill. Skills take time to learn. You've probably bought one or more courses thinking I can do this myself. You can, but do you want to. You probably want to do what you do well. You wouldn't learn heart surgery, you'd leave it to your doctor. We are doctor.
        </p>
      </div>
      <div class="flex flex-col gap-10">
        <div class="hidden lg:flex h-full items-center">
          <div class="border-r-4 border-black">
            <a
              class="lg:flex items-center gap-2 hidden py-2 px-6 text-2xl text-black font-bold rounded-xl transition duration-100"
              href="TODO"
            >
              <p>(844) 440-1600</p></a
            >
            <a
              class="lg:flex items-center gap-2 hidden py-2 px-6 text-2xl text-black font-semibold rounded-xl transition duration-100"
              href="TODO"
            >
              <p>info@aquatechnicspools.com</p>
            </a>
          </div>
          <div class="flex flex-col gap-1 px-2 justify-between">
            <a href="TODO">
              <Icon name="insta" size={40} />
            </a>
            <a href="TODO">
              <Icon name="facebook" size={40} />
            </a>
          </div>
        </div>
        <ul
          class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12"
        >
          <li>
            <a
              class="text-gray-700 transition hover:text-gray-700/75"
              href="#about"
            >
              About
            </a>
          </li>

          <li>
            <a
              class="text-gray-700 transition hover:text-gray-700/75"
              href="/graphene-nano-technology"
            >
              Quality
            </a>
          </li>

          <li>
            <a
              class="text-gray-700 transition hover:text-gray-700/75"
              href="/colors"
            >
              Colors
            </a>
          </li>
          <li>
            <a
              class="text-gray-700 transition hover:text-gray-700/75"
              href="/range"
            >
              Pools
            </a>
          </li>

          <li>
            <a
              class="text-gray-700 transition hover:text-gray-700/75"
              href="/contact"
            >
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="mt-12 text-center text-sm text-gray-950 lg:text-right">
      Copyright &copy; {new Date().getFullYear()}. All rights reserved.
    </p>
  </div>
</footer>
