---
import { Image } from "astro:assets";
import hero from "../assets/header.png";
---

<section
  class="bg-white py-2 md:pb-20 lg:pb--[120px] overflow-hidden sm:overflow-visible relative z-10 max-w-6xl mx-auto"
>
  <Image src={hero} alt="Graphene" />
</section>
