---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logo from "../assets/logo.jpg";
---

<nav id="nav" class="overflow-y-visible z-50">
  <div
    class="relative px-4 pt-4 flex justify-between items-start bg-white max-w-6xl mx-auto h-44"
  >
    <a
      class="text-xl align-middle font-bold leading-none flex items-center gap-2"
      href="/"
    >
      <div class="h-32 w-auto lg:h-[162px] lg:w-full">
        <Image src={logo} alt="logo" class="h-full w-full object-contain" />
        <p class="sr-only">Freedom Fiberglass Pools</p>
      </div>
    </a>
    <div class="lg:hidden">
      <button class="navbar-burger flex items-center text-sky-800 p-3">
        <svg
          class="block h-6 w-6 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/1000/svg"
        >
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex h-full items-center">
      <div class="border-r-4 border-black">
        <a
          class="lg:flex items-center gap-2 hidden py-2 px-6 text-2xl text-black font-bold rounded-xl transition duration-100"
          href="tel:844440-1600"
        >
          <p>(844) 440-1600</p></a
        >
        <a
          class="lg:flex items-center gap-2 hidden py-2 px-6 text-2xl text-black font-semibold rounded-xl transition duration-100"
          href="email:info@aquatechnicspools.com"
        >
          <p>info@aquatechnicspools.com</p>
        </a>
      </div>
      <div class="flex flex-col gap-1 px-2 justify-between">
        <a href="TODO">
          <Icon name="insta" size={40} />
        </a>
        <a href="TODO">
          <Icon name="facebook" size={40} />
        </a>
      </div>
    </div>
  </div>
  <ul
    class="hidden overflow-visible py-2 lg:mx-auto lg:flex lg:items-center lg:w-auto max-w-6xl mx-auto lg:justify-evenly"
  >
    <li class="w-full flex">
      <a
        class="w-full h-full bg-sky-950 text-center hover:bg-sky-800 py-2 text-base text-white font-semibold"
        href="/">Home</a
      >
    </li>
    <li class="relative overflow-visible z-50 w-full flex">
      <button
        class="w-full h-full bg-sky-950 text-center hover:bg-sky-800 py-2 pr-16 text-base text-white font-semibold peer"
        >Quality</button
      >
      <ul
        id="dropdown"
        class="max-h-0 w-fit flex h-36 peer-hover:max-h-36 overflow-hidden hover:max-h-36 absolute top-4 pt-6 left-0 flex-col transition-all duration-950 ease-in-out"
      >
        <li class="bg-sky-950 py-2 hover:bg-sky-800 px-2 submenu text-left">
          <a
            class="text-base text-white font-semibold pb-2 whitespace-nowrap"
            href="/graphene-nano-technology"
            >Graphene Nano Technology
          </a>
        </li>
        <li class="bg-sky-950 py-2 hover:bg-sky-800 px-2 submenu text-left">
          <a
            class="text-base text-white font-semibold pb-2 whitespace-nowrap"
            href="/built-stronger-to-last-longer
       "
            >Built Stronger To Last Longer
          </a>
        </li>
        <li class="bg-sky-950 py-2 hover:bg-sky-800 px-2 submenu text-left">
          <a
            class="text-base text-white font-semibold pb-2 whitespace-nowrap"
            href="/superior-pool-colorguard-pools"
            >Superior Pool Colorguard Pools
          </a>
        </li>
      </ul>
    </li>
    <li class="w-full flex">
      <a
        class="w-full h-full bg-sky-950 text-center hover:bg-sky-800 py-2 text-base text-white font-semibold"
        href="/colors">Colors</a
      >
    </li>
    <li class="w-full flex">
      <a
        class="w-full h-full bg-sky-950 text-center hover:bg-sky-800 py-2 text-base text-white font-semibold"
        href="/range">Pools</a
      >
    </li>
    <li class="w-full flex">
      <a
        class="w-full h-full bg-sky-950 text-center hover:bg-sky-800 py-2 text-base text-white font-semibold"
        href="/contact">Contact</a
      >
    </li>
  </ul>
</nav>

<div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav
    class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
  >
    <div class="flex items-start mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="/">
        <div class="h-32 w-auto">
          <Image src={logo} alt="logo" class="h-full w-full object-contain" />
          <p class="sr-only">Freedom Fiberglass Pools</p>
        </div>
      </a>
      <button class="navbar-close">
        <Icon name="close" size={40} />
      </button>
    </div>
    <div>
      <ul>
        <li class="mb-1">
          <a
            class="block p-4 text-base font-semibold text-gray-700 hover:bg-sky-950 hover:text-sky-800 rounded"
            href="/">Home</a
          >
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-base font-semibold text-gray-700 hover:bg-sky-950 hover:text-sky-800 rounded"
            href="/#about">Colors</a
          >
        </li>
        <li class="mb-1">
          <div
            class="block px-4 pt-4 text-base font-semibold text-gray-700 hover:bg-sky-950 hover:text-sky-800 rounded"
          >
            Quality
          </div>
          <ul class="flex flex-col gap-4 p-4">
            <li>
              <a
                class="text-base text-gray-400 font-semibold pb-2 whitespace-nowrap"
                href="/graphene-nano-technology"
                >Graphene Nano Technology
              </a>
            </li>
            <li>
              <a
                class="text-base text-gray-400 font-semibold pb-2 whitespace-nowrap"
                href="/built-stronger-to-last-longer
           "
                >Built Stronger To Last Longer
              </a>
            </li>
            <li>
              <a
                class="text-base text-gray-400 font-semibold pb-2 whitespace-nowrap"
                href="/superior-pool-colorguard-pools"
                >Superior Pool Colorguard Pools
              </a>
            </li>
          </ul>
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-base font-semibold text-gray-700 hover:bg-sky-950 hover:text-sky-800 rounded"
            href="/range">Pools</a
          >
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-base font-semibold text-gray-700 hover:bg-sky-950 hover:text-sky-800 rounded"
            href="/contact">Contact</a
          >
        </li>
      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6">
        <a
          class="flex items-center gap-2 py-2 px-6 bg-sky-950 hover:bg-sky-800 text-base text-white font-bold rounded-xl transition duration-100"
          href="tel:5551234567"
          ><Icon name="telephone" size={20} />
          <p>Call Us</p></a
        >
      </div>
    </div>
  </nav>

  <script>
    // Burger menus
    document.addEventListener("DOMContentLoaded", function () {
      // open
      const burger = document.querySelectorAll(".navbar-burger");
      const menu = document.querySelectorAll(".navbar-menu");

      if (burger.length && menu.length) {
        for (var i = 0; i < burger.length; i++) {
          burger[i].addEventListener("click", function () {
            for (var j = 0; j < menu.length; j++) {
              menu[j].classList.toggle("hidden");
            }
          });
        }
      }

      // close
      const close = document.querySelectorAll(".navbar-close");
      const backdrop = document.querySelectorAll(".navbar-backdrop");

      if (close.length) {
        for (var i = 0; i < close.length; i++) {
          close[i].addEventListener("click", function () {
            for (var j = 0; j < menu.length; j++) {
              menu[j].classList.toggle("hidden");
            }
          });
        }
      }

      if (backdrop.length) {
        for (var i = 0; i < backdrop.length; i++) {
          backdrop[i].addEventListener("click", function () {
            for (var j = 0; j < menu.length; j++) {
              menu[j].classList.toggle("hidden");
            }
          });
        }
      }
    });

    // For accessability
    const menuItems = document.querySelectorAll(".submenu");
    const dropdown = document.getElementById("dropdown");

    // Add event listeners to each li element
    menuItems.forEach((item) => {
      item.addEventListener("focusin", () => {
        // Add a class to the menu when an li element is focused
        dropdown.classList.remove("max-h-0");
      });

      item.addEventListener("focusout", () => {
        // Remove the class from the menu when the focus leaves the li element
        dropdown.classList.add("max-h-0");
      });
    });
  </script>
</div>
