---
import { Icon } from "astro-icon/components";
---

<nav
  id="nav"
  class="relative px-4 py-4 flex justify-between items-center bg-white max-w-6xl mx-auto"
>
  <a
    class="text-xl align-middle font-bold leading-none flex items-center gap-2"
    href="#"
  >
    <Icon name="logo" size={32} />
    <h1>Company Name</h1>
  </a>
  <div class="lg:hidden">
    <button class="navbar-burger flex items-center text-blue-600 p-3">
      <svg
        class="block h-6 w-6 fill-current"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>
  <ul
    class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:divide-x lg:items-center lg:w-auto lg:space-x-6"
  >
    <li>
      <a class="text-base text-gray-700 hover:text-gray-800" href="#nav">Home</a
      >
    </li>
    <li>
      <a class="text-base text-gray-700 hover:text-gray-800 pl-4" href="#about"
        >About Us</a
      >
    </li>
    <li>
      <a
        class="text-base text-gray-700 hover:text-gray-800 pl-4"
        href="#services">Services</a
      >
    </li>
    <li>
      <a
        class="text-base text-gray-700 hover:text-gray-800 pl-4"
        href="#testimonials">Testimonials</a
      >
    </li>
    <li>
      <a class="text-base text-gray-700 hover:text-gray-800 pl-4" href="#"
        >Contact</a
      >
    </li>
  </ul>
  <a
    class="lg:flex items-center gap-2 hidden py-2 px-6 bg-blue-500 hover:bg-blue-600 text-base text-white font-bold rounded-xl transition duration-200"
    href="tel:5551234567"
    ><Icon name="telephone" size={20} />
    <p>Call Us</p></a
  >
</nav>
<div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav
    class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
  >
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">
        <Icon name="logo" size={32} />
      </a>
      <button class="navbar-close">
        <svg
          class="h-8 w-8 text-gray-700 cursor-pointer h8ver:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>
        <li class="mb-1">
          <a
            class="block p-4 text-base font-semibold text-gray-700 hover:bg-blue-508hover:text-blue-600 rounded"
            href="#">Home</a
          >
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-base font-semibold text-gray-700 hover:bg-blue-508hover:text-blue-600 rounded"
            href="#about">About Us</a
          >
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-base font-semibold text-gray-700 hover:bg-blue-508hover:text-blue-600 rounded"
            href="#services">Services</a
          >
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-base font-semibold text-gray-700 hover:bg-blue-508hover:text-blue-600 rounded"
            href="#pricing">Pricing</a
          >
        </li>
        <li class="mb-1">
          <a
            class="block p-4 text-base font-semibold text-gray-700 hover:bg-blue-508hover:text-blue-600 rounded"
            href="#">Contact</a
          >
        </li>
      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6">
        <a
          class="flex items-center gap-2 py-2 px-6 bg-blue-500 hover:bg-blue-600 text-base text-white font-bold rounded-xl transition duration-200"
          href="tel:5551234567"
          ><Icon name="telephone" size={20} />
          <p>Call Us</p></a
        >
      </div>
    </div>
  </nav>
</div>

<script>
  // Burger menus
  document.addEventListener("DOMContentLoaded", function () {
    // open
    const burger = document.querySelectorAll(".navbar-burger");
    const menu = document.querySelectorAll(".navbar-menu");

    if (burger.length && menu.length) {
      for (var i = 0; i < burger.length; i++) {
        burger[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    // close
    const close = document.querySelectorAll(".navbar-close");
    const backdrop = document.querySelectorAll(".navbar-backdrop");

    if (close.length) {
      for (var i = 0; i < close.length; i++) {
        close[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    if (backdrop.length) {
      for (var i = 0; i < backdrop.length; i++) {
        backdrop[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }
  });
</script>
