---
import { Image } from "astro:assets";

import service from "../assets/service.png";
import service2 from "../assets/service2.png";
import service3 from "../assets/service3.png";
---

<section id="services" class="py-16 bg-sky-200 w-screen">
  <div class="container max-w-6xl mx-auto px-6 text-gray-950 md:px-12 xl:px-0">
    <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-2xl font-semibold text-sky-900">Local SEO</h3>
          <p class="mb-6">
            Local SEO stands as the cornerstone of a company's digital presence, wielding immense power in determining its ranking and lead generation potential. In an era where consumers rely heavily on search engines to discover nearby businesses, optimizing for local search is paramount. A robust local SEO strategy ensures that businesses appear prominently in relevant local searches, enhancing visibility to potential customers precisely when they are actively seeking products or services. By leveraging tactics such as optimizing Google My Business listings, creating location-specific content, and garnering positive reviews, companies can establish trust and credibility within their target communities. Furthermore, local SEO enables businesses to outrank competitors in local search results, thereby capturing valuable leads and driving foot traffic to physical locations. In essence, prioritizing local SEO is not merely a choice but a necessity for businesses seeking to thrive in today's competitive digital landscape, where local relevance reigns supreme.
          </p>
          <a
            href="/graphene-nano-technology"
            class="block font-medium text-sky-800">Know more</a
          >
        </div>
        <Image
          src={service}
          class="w-2/3 ml-auto -mb-12"
          alt="illustration"
          format="webp"
          loading="lazy"
          width="900"
          height="600"
        />
      </div>
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-2xl font-semibold text-sky-900">Colors</h3>
          <p class="mb-6">
            The ColorGuard pools range of colors will maintain their beautiful
            appearance and vivid color for many years. The most popular colors
            by far, they suit any of our pool designs and look amazing day or
            night.
          </p>
          <a href="/colors" class="block font-medium text-sky-800">Know more</a>
        </div>
        <Image
          src={service2}
          class="w-2/3 ml-auto"
          alt="illustration"
          format="webp"
          loading="lazy"
          width="900"
          height="600"
        />
      </div>
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-2xl font-semibold text-sky-900">Pools</h3>
          <p class="mb-6">
            The very best fiberglass pool available anywhere in the world.
          </p>
          <a href="/pools" class="block font-medium text-sky-800">Know more</a>
        </div>
        <Image
          src={service3}
          class="w-2/3 ml-auto"
          format="webp"
          alt="illustration"
          loading="lazy"
          width="900"
          height="600"
        />
      </div>
    </div>
  </div>
</section>
