---
import { Image } from "astro:assets";
import business from "../assets/business.jpg";
---

<div class="flex flex-col items-center w-full border md:my-10">
  <div class="max-w-lg px-2">
    <h2
      class="scroll-mt-10 md:py-6 text-3xl font-semibold tracking-tight first:mt-0 capitalize mb-2"
    >
      Orange Media Marketing
    </h2>
    <p class="my-4 text-gray-600">
      We make your business busier. Success in today's digital world requires more than just a great work ethic.
    </p>
    <div>
      <Image
        class="object-contain w-full h-full"
        src={business}
        alt="picture of our company"
      />
    </div>
    <div class="flex gap-2 justify-evenly w-full my-4">
      <a
        href="/range"
        class="inline-flex items-center justify-center w-full px-6 py-3 mb-2 text-xl text-white bg-sky-950 rounded-md hover:bg-sky-800 sm:w-auto sm:mb-0"
      >
        Pools
      </a>
      <a
        href="/colors"
        class="inline-flex items-center justify-center w-full px-6 py-3 mb-2 text-xl text-white bg-sky-950 rounded-md hover:bg-sky-800 sm:w-auto sm:mb-0"
      >
        Colors
      </a>
    </div>
  </div>
</div>
